@model Dictionary<ForceSampleMVC.Controllers.Force.OSSController.TreeNode, List<ForceSampleMVC.Controllers.Force.OSSController.TreeNode>>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<ul>
    @foreach (var tree in Model)
    {
        <li>
            <p>
                @tree.Key.text
                <a asp-action="Upload" asp-route-id="@tree.Key.id" class="btn btn-outline-primary">Upload File</a>
            </p>
           
            @if (tree.Value.Count > 0)
            {
                <ul>
                    @foreach (var child in tree.Value)
                    {
                        <li>
                            <p>
                                <a asp-action="ViewIn3D" asp-route-objectId="@child.id">@child.text</a>                 
                                <a asp-action="DeleteFile" asp-route-bucketId="@tree.Key.id" asp-route-objectName="@child.text">Delete</a>
                                <a asp-action="TranslateFile" asp-route-bucketId="@tree.Key.id" asp-route-objectName="@child.id">Translate File</a>
                            </p>


                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>

<a asp-action="Create" class="btn btn-outline-primary">Create New</a>
